<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,1},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,1},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,303},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,303},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,303},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,605},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,605},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,605},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,605},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,907},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,907},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,907},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,907},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,1209},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,1209},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,1209},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,1209},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,1511},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,1511},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,1511},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,1511},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,1813},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,1813},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,1813},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{3007,1813},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1,2115},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{1003,2115},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>90031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,300}</string>
                <key>spriteSourceSize</key>
                <string>{1000,300}</string>
                <key>textureRect</key>
                <string>{{2005,2115},{1000,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{4008,2416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59972439b0539c82b98f391c8ddbc8ad:1b715a589d21bdfcf337daae15fd46b2:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
