<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doumiao0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{505,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{757,1},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{253,203},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{505,203},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{757,203},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{253,405},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{505,405},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doumiao0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,200}</string>
                <key>spriteSourceSize</key>
                <string>{250,200}</string>
                <key>textureRect</key>
                <string>{{757,405},{250,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10.png</string>
            <key>size</key>
            <string>{1008,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9118ff836f5689b2eefaacad7f527b8a:c66850b314e42a56acfe494024c91ced:00eb27f73d45d244ad450fabf02c9a9b$</string>
            <key>textureFileName</key>
            <string>10.png</string>
        </dict>
    </dict>
</plist>
