<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{513,1},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1025,1},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1537,1},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{513,403},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1025,403},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1537,403},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1,805},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{513,805},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1025,805},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,400}</string>
                <key>spriteSourceSize</key>
                <string>{510,400}</string>
                <key>textureRect</key>
                <string>{{1537,805},{510,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7.png</string>
            <key>size</key>
            <string>{2048,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b4add7296f8140d70fa938f2f7b4aa5:a608a3712792ee0abe071c18e6bca208:41a2272e7348b624f834a359c7d08551$</string>
            <key>textureFileName</key>
            <string>7.png</string>
        </dict>
    </dict>
</plist>
