<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,535},{148,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>chanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,405},{151,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,128}}</string>
                <key>sourceSize</key>
                <string>{151,128}</string>
            </dict>
            <key>feiliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,802},{123,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,131}}</string>
                <key>sourceSize</key>
                <string>{123,131}</string>
            </dict>
            <key>huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,685},{115,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,140}}</string>
                <key>sourceSize</key>
                <string>{115,140}</string>
            </dict>
            <key>huasa.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,270},{183,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,133}}</string>
                <key>sourceSize</key>
                <string>{183,133}</string>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{315,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,80}}</string>
                <key>sourceSize</key>
                <string>{315,80}</string>
            </dict>
            <key>life0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{290,88}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{290,88}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>life1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{296,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,94}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>life2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{296,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,94}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>life3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{292,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{292,86}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>timu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{1252,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1252,245}}</string>
                <key>sourceSize</key>
                <string>{1252,245}</string>
            </dict>
            <key>tudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,266}}</string>
                <key>sourceSize</key>
                <string>{458,266}</string>
            </dict>
            <key>zhongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f872cf2c5e4e8fa02bcc19e3379f595:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
