<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{682,564}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{682,564}}</string>
                <key>sourceSize</key>
                <string>{700,600}</string>
            </dict>
            <key>xx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{664,584}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{664,584}}</string>
                <key>sourceSize</key>
                <string>{700,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xx.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79267c2e34764db3a72dd9b34123ceaa:1/1$</string>
            <key>textureFileName</key>
            <string>xx.png</string>
        </dict>
    </dict>
</plist>
