<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yan20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2410,3362},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2210,2610},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,3362},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2610},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3162,2058},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2410,1658},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1658},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2810},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2058},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,1306},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2610,1106},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1106},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1106},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,554},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2610,554},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,554},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,554},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2810},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2058},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1306},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,554},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2810,2},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,2},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3010},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2258},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
            <key>yan20031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2410,3362},{550,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,750}}</string>
                <key>sourceSize</key>
                <string>{550,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanlist.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9dacca5f6864a867bdf73d24e2618d:1/1$</string>
            <key>textureFileName</key>
            <string>yanlist.png</string>
        </dict>
    </dict>
</plist>
